.card-img-top{
    height: 450px;
}
.container{
    margin-top: 5%;
}

.inventory-body {
  position: fixed;
  min-width: 100%;
  background-image: url("../../assets/forest.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-size: cover;
}
