.card-img-top{
    height: 450px;
}
.container{
    margin-top: 5%;
}

@media (min-width: 768px) {
  .inventory-body {
    margin: 0;
    min-width: 100vh;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("../../assets/forest.png");
  }
}

@media (max-width: 768px) {
  .inventory-body {
    background-color: #FFDBCF;
  }
}
