<div class="container mt-3">
  <div class="row">
    <div class="col">
      Прашање {{questionIndex+1}} од {{questions.length}}
      <br>
      <h5>{{currentQuestion}}</h5>
      <img *ngIf="image !== null" class="mb-3" src="assets/{{image}}_{{questionIndex}}.jpg" />
      <p *ngFor="let option of currentOptions">
        <input (click)="setUserAnswer(option)" type="radio" value={{option}} name="answer" id="{{option}}">
        <label for="{{option}}">{{option}}</label>
      </p>
    </div>
  </div>
</div>
