.container {
  width: 100vh;
  height: 100vh;
  display: grid;
  place-items: center;
  font-size: 18px;
  font-weight: bold;
}

img {
  height: 300px;
  width: 300px;
}

h5 {
  font-size: 30px;
  color: lightseagreen;
}
p:hover{
  cursor: pointer;
  font-weight: bold;
  color: rgb(11, 114, 76);
}