<html>

<body>
    <div class="container">
        <div class="card-group">
            <div class="card">
                <img src="assets/blue.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Сина</h5>
                </div>
            </div>
            <div class="card">
                <img src="assets/red.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Црвена</h5>
                </div>
            </div>
            <div class="card">
                <img src="assets/yellow.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Жолта</h5>
                </div>
            </div>
            <div class="card">
                <img src="assets/green.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Зелена</h5>
                </div>
            </div>
            <div class="card">
                <img src="assets/purple.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Вилоетова</h5>
                </div>
            </div>
            <div class="card">
                <img src="assets/orange.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Портокалова</h5>
                </div>
            </div>
            <div class="card">
                <img src="assets/black.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Црна</h5>
                </div>
            </div>
            <div class="card">
                <img src="assets/white.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Бела</h5>
                </div>
            </div>
            <div class="card">
                <img src="assets/pink.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Розева</h5>
                </div>
            </div>
        </div>
    </div>
</body>

</html>