<!-- Visit https://nicolaskadis.info/posts/pure-css-flip-cards-using-bootstrap-4-and-css-grid-no-js for an explanation -->
<div class="container">
    <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4 card-container">
            <div class="card-flip">
                <!-- Card 5 Front -->
                <div class="card front card-inverse">
                    <img class="card-img img-fluid"
                        src="assets/animals/cat.webp"
                        alt="Card image">
                </div>
                <!-- End Card 1 Front -->
                <!-- Card 1 Back -->
                <div class="card back">
                    <div class="card-block">
                        <h4 class="card-title">Мачка</h4>
                        <audio controls>
                            <source src="assets/animals/cat.mp3" type="audio/mpeg">
                        </audio>

                    </div>
                </div>
                <!-- End Card 1 Back -->
            </div>
        </div>
        <!-- End Card 1 -->

        <!-- Card 2 -->
        <div class="col-md-4 card-container">
            <div class="card-flip">
                <!-- Card 5 Front -->
                <div class="card front card-inverse">
                    <img class="card-img img-fluid"
                        src="assets/animals/dog.jpeg"
                        alt="Card image">
                </div>
                <!-- End Card 1 Front -->
                <!-- Card 1 Back -->
                <div class="card back">
                    <div class="card-block">
                        <h4 class="card-title">Куче</h4>
                        <audio controls>
                            <source src="assets/animals/dog.mp3" type="audio/mpeg">
                        </audio>

                    </div>
                </div>
                <!-- End Card 1 Back -->
            </div>
        </div>

        <!-- End Card 2 -->

        <!-- Card 3 -->
        <div class="col-md-4 card-container">
            <div class="card-flip">
                <!-- Card 5 Front -->
                <div class="card front card-inverse">
                    <img class="card-img img-fluid"
                        src="assets/animals/donkey.jpg"
                        alt="Card image">
                </div>
                <!-- End Card 1 Front -->
                <!-- Card 1 Back -->
                <div class="card back">
                    <div class="card-block">
                        <h4 class="card-title">Магаре</h4>
                        <audio controls>
                            <source src="assets/animals/donkey.mp3" type="audio/mpeg">
                        </audio>

                    </div>
                </div>
                <!-- End Card 1 Back -->
            </div>
        </div>
        <!-- End Card 3 -->

        <!-- Card 4 -->
        <div class="col-md-4 card-container">
            <div class="card-flip">
                <!-- Card 5 Front -->
                <div class="card front card-inverse">
                    <img class="card-img img-fluid"
                        src="assets/animals/pig.jpg"
                        alt="Card image">
                </div>
                <!-- End Card 1 Front -->
                <!-- Card 1 Back -->
                <div class="card back">
                    <div class="card-block">
                        <h4 class="card-title">Прасе</h4>
                        <audio controls>
                            <source src="assets/animals/pig.mp3" type="audio/mpeg">
                        </audio>

                    </div>
                </div>
                <!-- End Card 1 Back -->
            </div>
        </div>
        <!-- End Card 4 -->

        <!-- Card 5 -->
        <div class="col-md-4 card-container">
            <div class="card-flip">
                <!-- Card 5 Front -->
                <div class="card front card-inverse">
                    <img class="card-img img-fluid"
                        src="assets/animals/sheep.jpg"
                        alt="Card image">
                </div>
                <!-- End Card 1 Front -->
                <!-- Card 1 Back -->
                <div class="card back">
                    <div class="card-block">
                        <h4 class="card-title">Овца</h4>
                        <audio controls>
                            <source src="assets/animals/sheep.mp3" type="audio/mpeg">
                        </audio>

                    </div>
                </div>
                <!-- End Card 1 Back -->
            </div>
        </div>
        <!-- End Card 5 -->

        <!-- Card 6 -->
        <div class="col-md-4 card-container">
            <div class="card-flip">
                <!-- Card 5 Front -->
                <div class="card front card-inverse">
                    <img class="card-img img-fluid"
                        src="assets/animals/cow.jpg"
                        alt="Card image">
                </div>
                <!-- End Card 1 Front -->
                <!-- Card 1 Back -->
                <div class="card back">
                    <div class="card-block">
                        <h4 class="card-title">Крава</h4>
                        <audio controls>
                            <source src="assets/animals/cow.mp3" type="audio/mpeg">
                        </audio>

                    </div>
                </div>
                <!-- End Card 1 Back -->
            </div>
        </div>
        <!-- End Card 6 -->
        <!-- Card 3 -->
        <div class="col-md-4 card-container">
            <div class="card-flip">
                <!-- Card 5 Front -->
                <div class="card front card-inverse">
                    <img class="card-img img-fluid"
                        src="assets/animals/fox.jpg"
                        alt="Card image">
                </div>
                <!-- End Card 1 Front -->
                <!-- Card 1 Back -->
                <div class="card back">
                    <div class="card-block">
                        <h4 class="card-title">Лисица</h4>
                        <audio controls>
                            <source src="assets/animals/fox.mp3" type="audio/mpeg">
                        </audio>

                    </div>
                </div>
                <!-- End Card 1 Back -->
            </div>
        </div>
        <!-- End Card 3 -->

        <!-- Card 4 -->
        <div class="col-md-4 card-container">
            <div class="card-flip">
                <!-- Card 5 Front -->
                <div class="card front card-inverse">
                    <img class="card-img img-fluid"
                        src="assets/animals/lion.jpg"
                        alt="Card image">
                </div>
                <!-- End Card 1 Front -->
                <!-- Card 1 Back -->
                <div class="card back">
                    <div class="card-block">
                        <h4 class="card-title">Лав</h4>
                        <audio controls>
                            <source src="assets/animals/lion.mp3" type="audio/mpeg">
                        </audio>

                    </div>
                </div>
                <!-- End Card 1 Back -->
            </div>
        </div>
        <!-- End Card 4 -->

        <!-- Card 5 -->
        <div class="col-md-4 card-container">
            <div class="card-flip">
                <!-- Card 5 Front -->
                <div class="card front card-inverse">
                    <img class="card-img img-fluid"
                        src="assets/animals/elephant.jpg"
                        alt="Card image">
                </div>
                <!-- End Card 1 Front -->
                <!-- Card 1 Back -->
                <div class="card back">
                    <div class="card-block">
                        <h4 class="card-title">Слон</h4>
                        <audio controls>
                            <source src="assets/animals/elephant.mp3" type="audio/mpeg">
                        </audio>

                    </div>
                </div>
                <!-- End Card 1 Back -->
            </div>
        </div>
        <!-- End Card 5 -->

        <!-- Card 6 -->
        <div class="col-md-4 card-container">
            <div class="card-flip">
                <!-- Card 5 Front -->
                <div class="card front card-inverse">
                    <img class="card-img img-fluid"
                        src="assets/animals/rhinoceros.jpg"
                        alt="Card image">
                </div>
                <!-- End Card 1 Front -->
                <!-- Card 1 Back -->
                <div class="card back">
                    <div class="card-block">
                        <h4 class="card-title">Носорог</h4>
                        <audio controls>
                            <source src="assets/animals/rhinoceros.mp3" type="audio/mpeg">
                        </audio>

                    </div>
                </div>
                <!-- End Card 1 Back -->
            </div>
        </div>
        <!-- End Card 6 -->
    <!-- Card 3 -->
    <div class="col-md-4 card-container">
        <div class="card-flip">
            <!-- Card 5 Front -->
            <div class="card front card-inverse">
                <img class="card-img img-fluid"
                    src="assets/animals/monkey.jpg"
                    alt="Card image">
            </div>
            <!-- End Card 1 Front -->
            <!-- Card 1 Back -->
            <div class="card back">
                <div class="card-block">
                    <h4 class="card-title">Мајмун</h4>
                    <audio controls>
                        <source src="assets/animals/monkey.mp3" type="audio/mpeg">
                    </audio>

                </div>
            </div>
            <!-- End Card 1 Back -->
        </div>
    </div>
    <!-- End Card 3 -->

    <!-- Card 4 -->
    <div class="col-md-4 card-container">
        <div class="card-flip">
            <!-- Card 5 Front -->
            <div class="card front card-inverse">
                <img class="card-img img-fluid"
                    src="assets/animals/snake.jpg"
                    alt="Card image">
            </div>
            <!-- End Card 1 Front -->
            <!-- Card 1 Back -->
            <div class="card back">
                <div class="card-block">
                    <h4 class="card-title">Змија</h4>
                    <audio controls>
                        <source src="assets/animals/snake.mp3" type="audio/mpeg">
                    </audio>

                </div>
            </div>
            <!-- End Card 1 Back -->
        </div>
    </div>
    <!-- End Card 4 -->

    <!-- Card 5 -->
    <div class="col-md-4 card-container">
        <div class="card-flip">
            <!-- Card 5 Front -->
            <div class="card front card-inverse">
                <img class="card-img img-fluid"
                    src="assets/animals/bear.jpg"
                    alt="Card image">
            </div>
            <!-- End Card 1 Front -->
            <!-- Card 1 Back -->
            <div class="card back">
                <div class="card-block">
                    <h4 class="card-title">Мечка</h4>
                    <audio controls>
                        <source src="assets/animals/bear.mp3" type="audio/mpeg">
                    </audio>

                </div>
            </div>
            <!-- End Card 1 Back -->
        </div>
    </div>
    <!-- End Card 5 -->

    <!-- Card 6 -->
    <div class="col-md-4 card-container">
        <div class="card-flip">
            <!-- Card 5 Front -->
            <div class="card front card-inverse">
                <img class="card-img img-fluid"
                    src="assets/animals/wolf.jpg"
                    alt="Card image">
            </div>
            <!-- End Card 1 Front -->
            <!-- Card 1 Back -->
            <div class="card back">
                <div class="card-block">
                    <h4 class="card-title">Волк</h4>
                    <audio controls>
                        <source src="assets/animals/wolf.mp3" type="audio/mpeg">
                    </audio>

                </div>
            </div>
            <!-- End Card 1 Back -->
        </div>
    </div>
    <!-- End Card 6 -->
    <div class="col-md-4 card-container">
        <div class="card-flip">
            <!-- Card 5 Front -->
            <div class="card front card-inverse">
                <img class="card-img img-fluid"
                    src="assets/animals/camel.jpg"
                    alt="Card image">
            </div>
            <!-- End Card 1 Front -->
            <!-- Card 1 Back -->
            <div class="card back">
                <div class="card-block">
                    <h4 class="card-title">Камила</h4>
                    <audio controls>
                        <source src="assets/animals/camel.mp3" type="audio/mpeg">
                    </audio>

                </div>
            </div>
            <!-- End Card 1 Back -->
        </div>
    </div>
</div>
</div>