<div class="container mt-4">
  <div class="row">
    <div class="col">
      <div *ngIf="!quizOver" class="text-center">
          <app-question [questions]="questions"
                        [image]="image"
                        [questionIndex]="currentIndex"
                        [isMath]="isMath" (answers)="receiveAnswers($event)">
          </app-question>
      </div>
      <!--This div renders if quizOver is true-->
      <div *ngIf="quizOver" class="card">
        <div class="card-header text-center">
          <h1>Твојот резултат е {{score}} / {{totalQuestions+1}}</h1>
        </div>
        <div class="card-body card-img text-center">
          <img src="assets/bravo.gif" />
        </div>
        <div class="btn-primary grow card-footer text-center">
          <a class="btn text-dark" style="font-size: 2em;" href="/home">Дома</a>
        </div>
      </div>
    </div>
  </div>
</div>
