button {
    margin: auto
}

.over {
    min-width: 100vh;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container {
  width: 40%;
  height: 100%;
}

.grow {
  position: relative;
  display: inline-block;
  transition: all 0.4s ease;
}

.grow:hover {
  transform: scale(1.5);
  margin-right: 6%; /* fallback for ancient browsers that don't support calc() */
  margin-right: calc(5% + 10px);
  margin-left: 5%;
  background-color: lightseagreen;
  font-weight: bold;
}
