<main class="root">
  <nav id="mainNavbar" class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
       data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
       aria-expanded="false" aria-label="Toggle navigation"
       (click)="toggleCollapsed()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/home" style="color: rgb(83, 143, 24);"><i class="fa fa-home mr-1"></i>Дома<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="color: red;" href="/emotions"><i class="fa fa-smile-o mr-1"></i>Емоции</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="color: blueviolet" href="/colors"><i class="fa fa-paint-brush mr-1"></i>Бои</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="color: rgb(134, 134, 32);" href="/read-and-write"><i class="fa fa-font mr-1"></i>Читање и пишување</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="color: orange;" href="/math"><i class="fa fa-plus mr-1"></i>Математика</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="color: blue;" href="/sport"><i class="fa fa-soccer-ball-o mr-1"></i>Спорт</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="color: rgb(233, 22, 92);" href="/animals"><i class="fa fa-paw mr-1"></i>Животни</a>
        </li>
        <li class="nav-item">
          <a class="nav-link parents" href="/parents"><i class="fa fa-user mr-1"></i>РОДИТЕЛ</a>
        </li>
      </ul>
    </div>
</nav>
  <router-outlet></router-outlet>
</main>
