<body class="root">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/home" style="color: rgb(83, 143, 24);">Дома<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="color: red;" href="/emotions">Емоции</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="color: blueviolet" href="/colors">Бои</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="color: rgb(134, 134, 32);" href="/read-and-write">Читање и пишување</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="color: orange;" href="/math">Математика</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="color: blue;" href="/sport">Спорт</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="color: rgb(233, 22, 92);" href="/animals">Животни</a>
        </li>
        <li class="nav-item">
          <a class="nav-link parents" href="/parents">РОДИТЕЛ</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</body>
