@media (min-width: 768px) {
  .letter-button {
    margin-right: 3px;
  }

  .letter {
    font-size: 22em; float: right; margin-right: 10px;
  }

  .sec-col {
    margin-top: 4%;
  }

  .next-button {
    margin-top: 15%;
  }

  .prev-button {
    margin-top: 15%;
  }

  .container{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    background-image: url('https://wallpaperaccess.com/full/2067634.jpg');
  }
}

@media (max-width: 768px) {
  .letter-button {
    margin-right: 0px;
  }

  .sec-col {
    margin-top: 5%;
    text-align: center;
  }

  .dont {
    display: none;
  }

}
.img-speaker{
  height: 100px;
  margin-left: 40%;
  margin-top: 5px;
}
img:hover{
  cursor: pointer;
}
button{
  background-color: rgb(93, 150, 93);
}

button:focus{
  background-color: rgb(93, 150, 93);
}

button:hover{
  background-color: rgb(34, 77, 34);
}