.margin-top {
  margin-top: 5%;
}

.grow {
  position: relative;
  display: inline-block;
  transition: all 0.4s ease;
}

.grow:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.card-body {
  height: 300px;
}

img {
  height: 100%;
  vertical-align: middle;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.container{
  height: 300vh;
  width: 300vh;
}
