<div *ngIf="route.children.length === 0" class="container margin-top">
  <div class="row">
    <div class="col-6">
        <div class="card float-end card-max-width">
          <img class="card-img-top" src="assets/Math/numbers.jpg">
          <div class="card-body text-center">
            <button class="btn btn-outline-success" routerLink="numbers">Броеви</button>
          </div>
        </div>
    </div>
    <div class="col-6">
      <div class="card card-max-width">
        <img class="card-img-top" src="../../assets/Math/addition.jpg">
        <div class="card-body text-center">
          <button class="btn btn-outline-success" routerLink="addition">Собирање</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-6">
      <div class="card float-end card-max-width">
        <img class="card-img-top" src="../../assets/Math/subtraction.png">
        <div class="card-body text-center">
          <button class="btn btn-outline-success" routerLink="substraction">Одземање</button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card card-max-width">
        <img class="card-img-top" src="../../assets/Math/multiplication.jpg">
        <div class="card-body text-center">
          <button class="btn btn-outline-success" routerLink="multiplication">Множење</button>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
