.inventory-body {
  min-width: 100%;
  background-image: url("https://wallpaperaccess.com/full/1265273.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-size: cover;
}
