<html>

<body>
  <div class="container">
    <div class="flex-space">
      <img class="img-fluid height-250" src="assets/favpng_rainbow-child-cartoon-illustration.png" />
      <div>
        <h1 class="title">Заедно можеме</h1>
        <img class="img-fluid height-50"
          src="assets/pngjoy.com_autism-puzzle-piece-autism-superman-logo-png-download_3381418.png" />
      </div>
    </div>
    <section class="hero-section">
      <div class="card-grid">
        <a class="card" href="/emotions" (mouseover)="play('emotions')"(mouseout)="stop()">
          <div class="card__background" style="background-image: url('assets/emotions.webp')">
          </div>
          <div class="card__content">
            <h3 class="card__heading">Емоции</h3>
          </div>
        </a>
        <a class="card" href="/colors" (mouseover)="play('colors')" (mouseout)="stop()">
          <div class="card__background" style="background-image: url(assets/colors.png)">
          </div>
          <div class="card__content">
            <h3 class="card__heading">Бои</h3>
          </div>
        </a>
        <a class="card" href="/read-and-write" (mouseover)="play('read-write')" (mouseout)="stop()">
          <div class="card__background" style="background-image: url('assets/read_and_write.png')">
          </div>
          <div class="card__content">
            <h3 class="card__heading">Читање и пишување</h3>
          </div>
        </a>
        <a class="card" href="/math" (mouseover)="play('math')" (mouseout)="stop()">
          <div class="card__background" style="background-image: url('assets/math.jpeg')">
          </div>
          <div class="card__content">
            <h3 class="card__heading">Математика</h3>
          </div>
        </a>
        <a class="card" href="/sport" (mouseover)="play('sport')" (mouseout)="stop()">
          <div class="card__background" style="background-image: url(assets/sport.png)">
          </div>
          <div class="card__content">
            <h3 class="card__heading">Спорт</h3>
          </div>
        </a>
        <a class="card" href="/animals" (mouseover)="play('animals')" (mouseout)="stop()">
          <div class="card__background" style="background-image: url(assets/animals/animals.jpg)">
          </div>
          <div class="card__content">
            <h3 class="card__heading">Животни</h3>
          </div>
        </a>
      </div>
    </section>
  </div>
</body>

</html>